

.input {
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    width: 63%;
    text-align: left;
    height: 60px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    border-color: #0A8C8C;
    padding: 8px 16px;
    outline: 0px;
}


.input:focus {
    box-shadow: #0A8C8C 0px 0px 0px 2px;
}

.send {
    font-weight: 500;
    font-size: 14px;
    color: white;
    float: right;
    letter-spacing: 1px;
    height: 60px;
    display: block;
    margin-left: 8px;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    background: #0A8C8C;
    border-radius: 4px;
    padding: 0px 40px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
}

.send:hover {
    box-shadow: rgba(110, 120, 152, 0.22) 0px 2px 10px 0px;
}

.subtitle {
    margin-top: -40px;
}

@media (max-width: 768px) {
    .input {
        margin-bottom: 8px;
    }
}

@media (max-width: 640px) {
    .input {
        display: block;
        width: 100%;
    }
    .send {
        margin-left: 0;
        width: 100%;
    }
    .subtitle {
        max-width: 90%;
    }

}
